In [3]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp38-cp38-win_amd64.whl (7.2 MB)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\envs\pytorch\lib\site-packages (from mysql-connector-python) (3.13.0)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\envs\pytorch\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\envs\pytorch\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (50.3.0.post20201006)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.28

In [24]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Setting up enviroment and Helper Fucntions

In [27]:
# Connection Parameters

HOST_NAME=''
USER_NAME=''
USER_PASSWORD='Sql@1234'
db='ecom1'

In [18]:
#Establishing a connection to the database
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [19]:
#Connecting to the database
connection = create_server_connection("localhost", "root", USER_PASSWORD,)

MySQL Database connection successful

In [20]:
#Creating a database
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [21]:
#Create a connection to a specific database
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [22]:
#Function to execute an query
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

# Creating Tables

In [48]:
#Create Products Table 
create_products_table = """
CREATE TABLE products (
  id INT PRIMARY KEY,
  name VARCHAR(40) NOT NULL,
  price INT NOT NULL,
  quantity_remaining INT NOT NULL,
  image VARCHAR(300),
  weight DECIMAL,
  sku VARCHAR(20)
  
  );
 """



connection = create_db_connection("localhost", "root",USER_PASSWORD,db) # Connect to the Database
execute_query(connection, create_products_table) # Execute our defined query

MySQL Database connection successful
Error: '1050 (42S01): Table 'products' already exists'

In [47]:
#Create Orders
create_order_table = """
CREATE TABLE `order`(
  id INT PRIMARY KEY ,
  cust_name VARCHAR(40) NOT NULL,
  shipping_add VARCHAR(100) NOT NULL,
  order_date DATE,
  total_weight DECIMAL,
  product_id INT,
  FOREIGN KEY(cust_name) REFERENCES customers(name),
  FOREIGN KEY(product_id) REFERENCES products(id)
  );
 """

execute_query(connection, create_order_table)

Query successful

In [46]:
#Create Customer Table

create_customers_table = """
CREATE TABLE customers(
  name VARCHAR(40) PRIMARY KEY,
  email VARCHAR(40) NOT NULL,
  phone VARCHAR(10) NOT NULL,
  address VARCHAR(100) NOT NULL,
  payment_method VARCHAR(100)
  
  );
 """

execute_query(connection, create_customers_table)

Query successful

# Inserting Values into the Tables

In [ ]:
pop_client = """
INSERT INTO client VALUES
(101, 'Big Business Federation', '123 Falschungstraße, 10999 Berlin', 'NGO'),
(102, 'eCommerce GmbH', '27 Ersatz Allee, 10317 Berlin', 'Retail'),
(103, 'AutoMaker AG',  '20 Künstlichstraße, 10023 Berlin', 'Auto'),
(104, 'Banko Bank',  '12 Betrugstraße, 12345 Berlin', 'Banking'),
(105, 'WeMoveIt GmbH', '138 Arglistweg, 10065 Berlin', 'Logistics');
"""

pop_participant = """

""""

pop_participant = """

""""


connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, pop_client)
execute_query(connection, pop_participant)
execute_query(connection, pop_course)

# Querying Data

In [26]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
q1 = """
SELECT *
FROM teacher;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q1)

for result in results:
  print(result)